body {
    font-family: sans-serif;
    touch-action: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div#main-container {
    width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin: auto;
    height: 750px;
    background-color: white;
    z-index: 3;
}

div#gameplay-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 100%;
}

svg#svg-main {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.6);
}

svg#svg-upcoming,
svg#svg-storage {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.6);
}

text.overlay-text {
    font: bold small sans-serif;
}

div#upcoming,
div#storage {
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}

div#below {
    width: 100%;
}

button#pause-button {
    width: 100%;
    aspect-ratio: 6 / 1;
    font-size: large;
    font-weight: bold;
}

div#main-svg-container {
    aspect-ratio: 10 / 25;
    width: 256px;
}

div#info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1 / 5;
    width: 128px;
}

div#score-label,
div#level-label {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

div#score-value,
div#level-value {
    text-align: center;
}

div#info-container {
    height: max-content;
}

div#version {
    font-size: small;
    text-align: center;
}

div#templates {
    display: none;
}

div#intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 4px;
    font-size: 3pt;
}

div#disclaimer {
    text-align: center;
    font-style: italic;
}

div.intro-title {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

div.intro-entries-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div#riven {
    text-align: center;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Thanks to Carla-Codes for this starry background. */
/* https://github.com/Carla-Codes/starry-night-css-animation */

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(./bg/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(./bg/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 600s linear infinite;
}

.clouds {
    background: transparent url(./bg/clouds.png) repeat top center;
    z-index: 2;
    opacity: .4;
    animation: move-clouds-back 800s linear infinite;
}

/* End of starry background from Carla-Codes. */